.design{
    margin-top: 50px;
    border: 5px solid rgb(250, 250, 250);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #403d68;
    width: 750px;
    height: 300px;
    margin-left: 250px;
}
#btn{
    text-align: center;
    margin-left: 280px;
}
#cc:hover{
    outline: 0px solid transparent;
    

  
  padding: 20px 20px;
  box-shadow: 10px 10px 10px rgb(255, 238, 4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
  border: 10px solid rebeccapurple;
  border-radius: 1em;
  border-top-right-radius: 10% 30%;
  margin-bottom: 35px;
}
#msg{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: dashed 3px red;
    margin-left: 700px;
    margin-top: 35px;
    margin-bottom: 69px;
}
#msg2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: inherit;
    text-decoration-line: underline;
    margin-left: 700px;
    margin-top: 35px;
    margin-bottom: 35px;

}
#msg3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: dashed 3px rgb(0, 0, 0);
    margin-left: 600px;
    margin-top: 35px;
    margin-bottom: 69px;
}


.center{
    position:absolute;
    height: X px;
    width: Y px;
    left:40%;
    top:50%;
    margin-top:- X/2 px;
    margin-left:- Y/2 px;
}
